@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

@media (min-width: 2000px) {
  article {
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 800px;
    height: 1000px;
  }

  .japan {
    margin-bottom: 8rem;
  }

  .location {
    margin-bottom: 6rem;
  }

  p {
    font-size: 2rem;
    gap: 1em;
  }

  h1,
  .globe {
    font-size: 6rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  .container {
    gap: 5rem;
  }
}

@media (min-width: 2500px) {
  img {
    width: 1000px;
    height: 1300px;
  }

  p {
    font-size: 2.5rem;
    gap: 1em;
  }

  .location {
    margin-bottom: 6rem;
  }

  h1,
  .globe {
    font-size: 6rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
}
