@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #27292c;
  color: white;
}

nav li {
  cursor: pointer;
}

@media (max-width: 500px) {
  main h1 {
    font-size: 2rem;
  }
  main ul {
    margin-left: 2em;
    font-size: 1rem;
  }

  header {
    flex-direction: column;
  }

  header div {
    margin-bottom: 50px;
  }

  .title {
    font-size: 1.5rem;
  }

  ul {
    flex-direction: column;
  }
}
