@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #23252c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
